version: '3.7'

services:
  stream:
    image: "python:3.7-alpine"
    build:
      context: .
      dockerfile: Dockerfile
    image: "python:3.7-alpine"
    container_name: stream
    volumes:
      - /external/harvester:/code
    command: python3 stream.py

  main:
    image: "python:3.7-alpine"
    container_name: main
    volumes:
      - /external/harvester:/code
    command: python3 main.py






