import schedule
import os


def run_collect_tweet():
    os.system("python3 collect_tweet.py")


# start collecting tweets from new users of that day
# run everyday 11:55 pm
schedule.every().hour.at(":15").do(run_collect_tweet)
#(schedule.every(10).minutes.do(run_collect_tweet))
#schedule.every().day.at("12:10").do(run_collect_tweet)

while True:
    schedule.run_pending()
