# Pycharm project configurations
.idea/

# RStudio project configurations
.Rproj.user/
*.Rproj
*.Rhistory
*.RData

# Mac/OSX meta-data
*.DS_Store

# Windows config files
*desktop.ini

# Tweets
tweets/
