version: '3.7'

services:
  web:
    image: "python:3.7-alpine"
    volumes:
      - /external/city_analytics:/code
    build:
      context: .
      dockerfile: Dockerfile
    ports:
     - "5000:5000"
    container_name: web
    command: python3 web.py

  geo:
    image: "python:3.8-slim"
    container_name: geo
    volumes:
      - /external/city_analytics:/code
    build:
      context: .
      dockerfile: geo-Dockerfile
    command: python3 __main__.py

  
    



